/*Emailchange page CSS*/

.change-email-page {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.loginbtn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.loginbtn-primary:hover {
    background-color: #0056b3;
    color: white;
}

.label-name{
    color: #1a1a1a;
}